avifdec
avifenc
avif_example_decode_file
avif_example_decode_memory
avif_example_decode_streaming
avif_example_encode
/build*
.clangd/
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cscope.*
/ext/aom
/ext/dav1d
/ext/googletest
/ext/libgav1
/ext/libjpeg
/ext/libpng
/ext/libyuv
/ext/rav1e
/ext/SVT-AV1
/ext/zlib
libavif.a
libavif.pc
Makefile
/obj*
tags
