/build*
/obj*
/ext/aom
/ext/avm
/ext/ComplianceWarden
/ext/dav1d
/ext/fuzztest
/ext/googletest
/ext/gpac
/ext/libargparse
/ext/libjpeg
/ext/libjpeg-turbo
/ext/libgav1
/ext/libpng
/ext/libwebp
/ext/libxml2
/ext/libyuv
/ext/rav1e
/ext/SVT-AV1
/ext/zlib
.clangd/
.vscode/
cscope.*
tags
