name: CI Unix Static AV2
on:
  push:
  pull_request:
    paths:
      - ".github/workflows/ci-unix-static-av2.yml"
      - "**CMakeLists.txt"
      - "cmake/**"
      - "ext/**"

permissions:
  contents: read

# Cancel the workflow if a new one is triggered from the same PR, branch, or tag, except on main.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build-static-av2:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        also-enable-av1-codecs: [OFF, LOCAL] # On top of enabling AV2 codecs.
        include:
          - runs-on: ubuntu-24.04
            compiler: gcc
            gcc: 14

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/setup-linux
        with:
          codec-aom: "LOCAL"
          codec-dav1d: ${{ matrix.also-enable-av1-codecs }}
          codec-rav1e: ${{ matrix.also-enable-av1-codecs }}
          extra-cache-key: ${{ matrix.also-enable-av1-codecs }}
          gcc-version: ${{ matrix.gcc }}
          libyuv: "LOCAL"

      - name: Prepare libavif (cmake)
        run: >
          cmake -G Ninja -S . -B build
          -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF
          -DAVIF_CODEC_AVM=LOCAL
          -DAVIF_CODEC_DAV1D=${{ matrix.also-enable-av1-codecs }}
          -DAVIF_CODEC_RAV1E=${{ matrix.also-enable-av1-codecs }}
          -DAVIF_CODEC_SVT=${{ matrix.also-enable-av1-codecs }}
          -DAVIF_LIBYUV=LOCAL
          -DAVIF_LIBSHARPYUV=LOCAL
          -DAVIF_BUILD_EXAMPLES=ON -DAVIF_BUILD_APPS=ON
          -DAVIF_BUILD_TESTS=ON -DAVIF_ENABLE_GTEST=ON -DAVIF_GTEST=LOCAL
          -DAVIF_ENABLE_WERROR=ON
      - name: Build libavif (ninja)
        working-directory: ./build
        run: ninja
      - name: Run AVIF Tests
        working-directory: ./build
        run: ctest -j $(getconf _NPROCESSORS_ONLN) --output-on-failure
      - name: Check static link bundling
        run: |
          cc -o avifenc  -I./apps/shared -I./third_party/iccjpeg -I./include apps/avifenc.c \
            apps/shared/*.c third_party/iccjpeg/iccjpeg.c build/libavif.a \
            -lpng -ljpeg -lz -lm -ldl -lstdc++

          ./avifenc --help
